<link rel="stylesheet" href="app/styles/video.css">

<div class="gifator" ng-controller='VideoCtrl'>
    <div class="gif-viewer">

    </div>
    <form>
        <div class="row">
            <input type="file" class="form-control" accept="video/mp4,video/x-m4v,video/*" ng-module="videoPath" onchange="angular.element(this).scope().getFile(this)">
        </div>
        
        <div class="row">
            <input type="number" class="form-control" max="{{videoDuration}}" min="0" placeholder="Start" ng-model="gifStart" ng-change="startChange()">
            <small id="startHelpBlock" class="form-text text-muted">
                Where, in secods, gif will start. Max {{videoDuration}}
            </small>
        </div>
        <div class="row">
            <input type="number" class="form-control" max="{{gifDuration}}" min="0" placeholder="Duration" ng-model="gifInterval">
            <small id="durationHelpBlock" class="form-text text-muted" >
                Time gif duration, max {{gifDuration}}.
            </small>
        </div>
        <div class="row custom-chk">
            <input type="checkbox" class="custom-control-input" id="privateChk" ng-checked="private" ng-model="private">
            <label class="custom-control-label" for="privateChk" >Private</label>
        </div>            
        <div class="row">
            <input type="password" class="form-control" placeholder="Password" ng-model="gifPassword" ng-change='showpwd()' ng-disabled="!private">
        </div>
        <div class="row">
            <input type="date" class="form-control" placeholder="Visible until" ng-model="gifValidity" min="{{minValidity}}">
            <small id="validityHelpBlock" class="form-text text-muted" >
                Gif Validity.
            </small>
        </div>
        <div class="row">            
            <button type="button" class="btn btn-primary" ng-if="created" ng-click="share()">Share</button>
            <button type="button" class="btn btn-primary" ng-if="!created" ng-click="createGif()">Create</button>
        </div>
    
    </form>
</div>

<script src="app/scripts/libs/gifshot.js"></script>